body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

header {
    background-color: #B94621;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #044040;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

main {
    padding: 20px;
}

button{
    padding: 10px 20px;
    background-color: #044040;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

.product-box, .animal-box{
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    width: 200px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-box h3 {
    margin-top: 0;
}

.product-box p {
    margin-bottom: 10px;
}

.product-box button {
    margin-top: 10px;
}

#formulario-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 999;
    display: none;
}

#cerrar-formulario {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}
#foot-block{
    color: #ffffff;
    background-color: #04404080;
    margin-top:5px;
    padding: 1.5px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input, .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-group textarea {
    resize: vertical;
}

.hidden {
    display: none;
}

#product-container, #animal-container {
    margin: 0 auto;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#cent {
    display: flex;
    justify-content: center;
    align-items: center;
}
