<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="/styles/style.main.css">
    

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vacuno</title>
    <script src="./animal.func.js"></script>
</head>
<body>
    <header class="d-flex align-items-center">
        <img src="img/ecogranja_logo_150x150.svg" alt="Logo" style="width: 150px; height: 150px; margin-right: 10px;">
        
    </header>
    <div class="bar">
        <nav class="nav justify-content-center">
            <a class="nav-link" href="/residuos">Residuos</a>
            <a class="nav-link" href="/bienvenido">Productos</a>
            <a class="nav-link" href="#">Vacuno</a>
           
            <a class="nav-link" href="register.html">Registrar Usuario</a>
        </nav>
    </div>
    <div id="foot-block">
        
        <div>
            <button id="btnMostrarFormulario">Registrar Nuevo Animal</button>
        
            <input type="text" class="form-control" placeholder="Busca aminales aquí ">
        
            <button onclick="norecuerdoelnombre()">Buscar</button>
        </div>
    </div>
    <main>
        <div id="first-block">
            <h2 id="cent">Vacuno</h2>
            <div id="animal-container">
            </div>
        </div>
    </main>
    <div id="formulario-container" class="hidden">
        <div id="cerrar-formulario">X</div>
        <form id="formularioAnimal" action="/animal" method="POST">
            <h2>Registro Animal</h2>
            <div class="form-group">
              
                <input type="text" id="nombre" name="nombre" placeholder="Nombre">
            </div>
            <div class="form-group">
                <label for="tipo" >Tipo:</label>
                <select id="tipo" name="tipo" class="form-control"  required>
                    <option value="">Seleccione</option>
                    <option value="Vacuno">Carne</option>
                    <option value="Pecuario">Lechero</option>
                    <option value="Cunicola">Doble proposito</option>
                </select>
            </div>
            <label for="fecha_ingreso">Fecha ingreso:</label>
            <br>
            <input type="date" id="fecha_ingreso" name="fecha_ingreso" value="<%= new Date().toISOString().split('T')[0] %>">
            <br>
            <input type="hidden" id="fecha_salida" name="fecha_salida" value="">
            <br>
            <div class="form-group">
                <input type="text" id="nombre" name="nombre" placeholder="Responsable Registro" required>
            </div>
            
            <button type="submit">Registrar</button>
        </form>
    </div>
    


</body>
<!-- Bootstrap JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>   
</html>
