<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="/styles/style.main.css">
    <script src="waste.func.js"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Residuos</title>
</head>
<body>

    <header class="d-flex align-items-center">
        
        <img src="img/ecogranja_logo_150x150.svg" alt="Logo" style="width: 150px; height: 150px; margin-right: 10px;">
    </header>

    <div class="bar">
        <nav>
            <a href="#">Residuos</a>
            <a href="/bienvenido">Productos</a>
            <a href="/animales">Animales</a>
        </nav>
    </div>

    <main>
        <div id="first-block">
            <h2 id="cent">Residuos</h2>
            <div id="residuo-container">
            </div>
        </div>
    </main>
    <div id="formulario-container" class="hidden">
        <div id="cerrar-formulario">X</div>
        <form id="formulario">
            <h2>Registrar Residuos</h2>
            <div class="form-group">
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre" required>
            </div>

        </form>
    </div>

</body>
</html>
